 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Homepage</title>
<!--     tambah icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
<!--     link css -->
    <link rel="stylesheet" th:href="@{/home.css}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"></script>
</head>
<body>
<!-- carousell homepage -->
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <footer class="bg-dark p-2 text-center">
            <div class="carousel-caption d-flex flex-column justify-content-center h-100">
                <h5>BankApps</h5>
                <p>Dari Nasabah untuk Nasabah</p>
            </div>
        </div>
    </button>
</div>
<br>
<br>
<!-- section -->
<section id="services" class="services section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header text-center pb-5">
                    <h2>BANKAPPS</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-12 col-lg-4">
                    <div class="card text-white text-center bg-dark pb-2">
                        <div class="card-body">
                            <i class="bi bi-subtract"></i>
                            <h3 class="card-title">Transfer</h3>
                            <p class="lead">Nasabah dapat melakukan transaksi transfer dengan aman, nyaman dan cepat</p> 
                            <a type="button" class="btn btn-warning" href="/transfer">Click Here</a>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-4">
                    <div class="card text-white text-center bg-dark pb-2">
                        <div class="card-body">
                            <i class="bi bi-subtract"></i>
                            <h3 class="card-title">Nasabah</h3>
                            <p class="lead">Nasabah dapat melakukan transaksi transfer dengan aman, nyaman dan cepat</p> 
                            <a type="button" class="btn btn-warning" href="/nasabah">Click Here</a>
                        </div>
                    </div>
                </div>
              <div class="col-12 col-md-12 col-lg-4">
                    <div class="card text-white text-center bg-dark pb-2">
                        <div class="card-body">
                            <i class="bi bi-subtract"></i>
                            <h3 class="card-title">Provider</h3>
                            <p class="lead">Nasabah dapat melakukan transaksi transfer dengan aman, nyaman dan cepat</p> 
                            <a type="button" class="btn btn-warning" href="/provider">Click Here</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br>
<br>
<section>
<!-- footer section -->
<!-- <a type="button" class="card text-white text-center bg-dark pb-2" href="/" style="text-decoration: none; color: white;">Logout</a> -->
<div class="col-sm-2 offset-sm-5">
                    <div class="card text-white text-center bg-dark pb-2">
                        <div class="card-body text-center">
                            <i class="bi bi-subtract"></i>
                            <h3 class="card-title">Logout</h3>
                            </div>
</section>                          
 <br>
 <br>
<footer class="bg-dark p-2 text-center">
</footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>
</html>