<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>Nasabah Page</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
	</head>
	
	<body>
		<div class="container">
			<a type="button" class="btn btn-secondary my-2" href="/" style="text-decoration: none; color: white;">Back</a>
			<br/><br/>
			<div id="data-collection">
				<div id="add-nasabah">
					<form method="post" th:action="@{/nasabah/save}">
						<label>Nama Lengkap</label><br/>
						<input type="text" th:field="*{nasabahForm.namalengkap}" /><br/>
						
						<label>Tanggal lahir</label><br/>
						<input type="date" th:field="*{nasabahForm.tgllahir}" /><br/>
						
						<label>NIK</label><br/>
						<input type="number" th:field="*{nasabahForm.nomoridentitas}" /><br/>
						
						<label>Tipe Identitas</label><br/>
						<input type="text" th:field="*{nasabahForm.tipeidentitas}" /><br/>
						
						<label>Email</label><br/>
						<input type="text" th:field="*{nasabahForm.email}"/><br/>
						
						<label>Kontak</label><br/>
						<input type="text" th:field="*{nasabahForm.kontak}"/><br/>
						
						<label>No Rekening</label><br/>
						<input type="text" th:field="*{rekeningForm.noRekening}"/><br/>
						
						<label>Nama Bank</label>
    					<select name="providers" id="providers" class="form-control">
                            <option th:each="provider : ${providers}"
                                    th:value="${provider.id}"
                                    th:text="${provider.namabank}">
                            </option>
                        </select>
						
						<input class="btn btn-success" type="submit" value="save"/>
					</form>
					<span th:if="${success}" th:text="${success}"></span>
				</div><br/><br/>
				
				<div class="row d-flex justify-content-start">
					<div class="col-8">
						<table class="table table-dark table-striped">
					<thead>
						<tr>
							<td>Nama Lengkap</td>
							<td>Tanggal Lahir</td>
							<td>NIK</td>
							<td>Tipe Identitas</td>
							<td>Email</td>
							<td>Kontak</td>
							<td>No Rekening</td>
							<!-- <td>Bank Provider</td>
							<td>Actions</td> -->
						</tr>
					</thead>
					<tbody th:each="rekening1 : ${rekening}">
						<tr>
							<td th:text="${rekening1.nasabah.namalengkap}"></td>
							<td th:text="${rekening1.nasabah.tgllahir}"></td>
							<td th:text="${rekening1.nasabah.nomoridentitas}"></td>
							<td th:text="${rekening1.nasabah.tipeidentitas}"></td>
							<td th:text="${rekening1.nasabah.email}"></td>
							<td th:text="${rekening1.nasabah.kontak}"></td>
							<td th:text="${rekening1.noRekening}"></td>
						<!-- 	<td th:text="${rekening1.namabank}"></td> -->
							<td>
								<button type="button" class="btn btn-danger" th:onclick="deleteData('[[${rekening1.id}]]')">Delete</button>
							</td>
						</tr>
					</tbody>
				</table>
					</div>
					
				</div>
				
				
			</div>
		</div>
	</body>
	<script inline="javascript">
		
		var baseUrl = "";
		
		function deleteData(data){
			var conf = confirm("Are You Sure ?")
			if(conf == true){
				window.location = baseUrl + "nasabah/delete?id="+data;
			}
			
			return false;
		}
	</script>
</html>