<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>Provider Page</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
	</head>
	
	<body>
		<div class="container">
			<a type="button" class="btn btn-secondary my-2" href="/" style="text-decoration: none; color: white;">Back</a>
			<br/><br/>
			<div id="data-collection">
				<div id="add-provider">
					<form method="post" th:action="@{/provider/save}" th:object="${providerForm}">
						<label>Nama Bank</label><br/>
						<input type="text" th:field="*{namabank}" /><br/>
						
						<label>Kode Bank</label><br/>
						<input type="number" th:field="*{codebank}" /><br/>
					
						
						<input class="btn btn-success" type="submit" value="save"/>
					</form>
					<span th:if="${success}" th:text="${success}"></span>
				</div><br/><br/>
				
				<div class="row d-flex justify-content-start">
					<div class="col-8">
						<table class="table table-dark table-striped">
					<thead>
						<tr>
							<td>Nama Bank</td>
							<td>Kode Bank</td>
							<td>Actions</td>
						</tr>
					</thead>
					<tbody th:each="provider1 : ${provider}">
						<tr>
							<td th:text="${provider1.namabank}"></td>
							<td th:text="${provider1.codebank}"></td>
							<td>
								<button type="button" class="btn btn-danger" th:onclick="deleteData('[[${provider1.id}]]')">Delete</button>
							</td>
						</tr>
					</tbody>
				</table>
					</div>
					
				</div>
				
				
			</div>
		</div>
	</body>
	<script inline="javascript">
		
		var baseUrl = "";
		
		function deleteData(data){
			var conf = confirm("Are You Sure ?")
			if(conf == true){
				window.location = baseUrl + "provider/delete?id="+data;
			}
			
			return false;
		}
	</script>
</html>