<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transfer Dana</title>
    <h1 class="text-center">Transfer Bank</h1>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
<div class="container">
			<a type="button" class="btn btn-secondary my-2" href="/" style="text-decoration: none; color: white;">Back</a>
			<br/><br/>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<div id="data-collection" class="container">
    <span th:if="${sukses}" th:text="${sukses}" ></span>
    <br>
    <div id="add-nasabah" class="mb-3">
        <form method="post" th:action="@{/transfer/save}"
		th:object="${transferForm}">
            <div class="col-12">
               	<label>Nomor Rekening Pengirim</label></br> <select name="providers"
			id="providers" class="form-control"
			th:field="*{rekPengirims.noRekening}">
			<option th:each="noRekeningbaru : ${rekenings}"
				th:value="${noRekeningbaru.noRekening}"
				th:text="${noRekeningbaru.noRekening}"></option>
		</select> </br>
			<label>Nomor Rekening Penerima</label></br> <select name="providers"
			id="providers" class="form-control"
			th:field="*{rekPenerimas.noRekening}">
			<option th:each="noRekeningbaru : ${rekenings}"
				th:value="${noRekeningbaru.noRekening}"
				th:text="${noRekeningbaru.noRekening}"></option>
		</select> </br>
            <div class="col-12">
                <label class="form-label">Jumlah Amount</label>
              <div>
				<input type="text" class="form-control" id="inputEmail3" th:field ="*{jumlahAmount}">
			</div>
		</div>
		</br>
		<div class="form-group">
			<button type="submit" value="save" class="btn btn-outline-info">Kirim Amount</button>
		</div>
            <br>
            <br>
        </form>
        <span th:if="${success}" th:text="${success}"></span>
    </div>
</div>

<div id="data-table" class="container">
    <h2>Daftar Transfer</h2>
    <br>
    <br>
    <table class="table table-light table-striped">
        <thead class="table-dark">
        <tr>
            <td>Rekening Pengirim</td>
            <td>Rekening Penerima</td>
            <td>Amount</td>
            <td>Bank Asal</td>
            <td>Bank Tujuan</td>
            <td>Fee</td>
        </tr>
        </thead>
         <tbody th:each="transfer1 : ${transfers}"> <!-- transfers ; attribute di controller -->
        <tr>
            <td th:text="${transfer1.rekPengirims.noRekening}"></td> <!-- rekpengirims : mapped by di rekening -->
            <td th:text="${transfer1.rekPenerimas.noRekening}"></td>
            <td th:text="${transfer1.jumlahAmount}"></td> <!-- entity di transfer -->
            <td th:text="${transfer1.rekPengirims.provider.namabank}"></td><!--  di provider -->
            <td th:text="${transfer1.rekPenerimas.provider.namabank}"></td> 
            <td th:text="${transfer1.fee}"></td> 
        </tr>
        </tbody>
    </table>
</div>
<br>
</div>
</body>
</html>